openapi: 3.0.1
info:
  contact:
    email: apihelp@mailchimp.com
    name: API Support
  title: Mailchimp Transactional API
  version: 1.0.55
  x-permalink: https://github.com/mailchimp/mailchimp-client-lib-codegen/blob/main/spec/transactional.json
servers:
- url: https://mandrillapp.com/api/1.0
paths:
  /allowlists/add:
    post:
      deprecated: false
      description: "Adds an email to your email rejection allowlist. If the address\
        \ is currently on your denylist, that denylist entry will be removed automatically."
      operationId: postAllowlistsAdd
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/postAllowlistsAdd_request'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/postAllowlistsAdd_200_response'
            application/x-php:
              schema:
                $ref: '#/components/schemas/postAllowlistsAdd_200_response'
            application/x-yaml; charset=utf-8:
              schema:
                $ref: '#/components/schemas/postAllowlistsAdd_200_response'
          description: ""
      summary: Add email to allowlist
      tags:
      - allowlists
      x-custom-config:
        methodNameCamel: add
        methodNameSnake: add
      x-codegen-request-body-name: body
      x-content-type: application/json
      x-accepts: application/json
  /allowlists/list:
    post:
      deprecated: false
      description: Retrieves your email rejection allowlist. You can provide an email
        address or search prefix to limit the results. Returns up to 1000 results.
      operationId: postAllowlistsList
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/postAllowlistsList_request'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                description: up to 1000 allowlist entries
                items:
                  $ref: '#/components/schemas/postAllowlistsList_200_response_inner'
                type: array
            application/x-php:
              schema:
                description: up to 1000 allowlist entries
                items:
                  $ref: '#/components/schemas/postAllowlistsList_200_response_inner'
                type: array
            application/x-yaml; charset=utf-8:
              schema:
                description: up to 1000 allowlist entries
                items:
                  $ref: '#/components/schemas/postAllowlistsList_200_response_inner'
                type: array
          description: ""
      summary: List allowlisted emails
      tags:
      - allowlists
      x-custom-config:
        methodNameCamel: list
        methodNameSnake: list
      x-codegen-request-body-name: body
      x-content-type: application/json
      x-accepts: application/json
  /allowlists/delete:
    post:
      deprecated: false
      description: Removes an email address from the allowlist.
      operationId: postAllowlistsDelete
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/postAllowlistsDelete_request'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/postAllowlistsDelete_200_response'
            application/x-php:
              schema:
                $ref: '#/components/schemas/postAllowlistsDelete_200_response'
            application/x-yaml; charset=utf-8:
              schema:
                $ref: '#/components/schemas/postAllowlistsDelete_200_response'
          description: ""
      summary: Remove email from allowlist
      tags:
      - allowlists
      x-custom-config:
        methodNameCamel: delete
        methodNameSnake: delete
      x-codegen-request-body-name: body
      x-content-type: application/json
      x-accepts: application/json
  /exports/info:
    post:
      deprecated: false
      description: "Returns information about an export job. If the export job's state\
        \ is 'complete', the returned data will include a URL you can use to fetch\
        \ the results. Every export job produces a zip archive, but the format of\
        \ the archive is distinct for each job type. The api calls that initiate exports\
        \ include more details about the output format for that job type."
      operationId: postExportsInfo
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/postExportsInfo_request'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/postExportsInfo_200_response'
            application/x-php:
              schema:
                $ref: '#/components/schemas/postExportsInfo_200_response'
            application/x-yaml; charset=utf-8:
              schema:
                $ref: '#/components/schemas/postExportsInfo_200_response'
          description: ""
      summary: View export info
      tags:
      - exports
      x-custom-config:
        methodNameCamel: info
        methodNameSnake: info
      x-codegen-request-body-name: body
      x-content-type: application/json
      x-accepts: application/json
  /exports/list:
    post:
      deprecated: false
      description: Returns a list of your exports.
      operationId: postExportsList
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/postExportsList_request'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                description: the account's exports
                items:
                  $ref: '#/components/schemas/postExportsList_200_response_inner'
                type: array
            application/x-php:
              schema:
                description: the account's exports
                items:
                  $ref: '#/components/schemas/postExportsList_200_response_inner'
                type: array
            application/x-yaml; charset=utf-8:
              schema:
                description: the account's exports
                items:
                  $ref: '#/components/schemas/postExportsList_200_response_inner'
                type: array
          description: ""
      summary: List exports
      tags:
      - exports
      x-custom-config:
        methodNameCamel: list
        methodNameSnake: list
      x-codegen-request-body-name: body
      x-content-type: application/json
      x-accepts: application/json
  /exports/rejects:
    post:
      deprecated: false
      description: "Begins an export of your rejection denylist. The denylist will\
        \ be exported to a zip archive containing a single file named rejects.csv\
        \ that includes the following fields: email, reason, detail, created_at, expires_at,\
        \ last_event_at, expires_at."
      operationId: postExportsRejects
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/postExportsRejects_request'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/postExportsRejects_200_response'
            application/x-php:
              schema:
                $ref: '#/components/schemas/postExportsRejects_200_response'
            application/x-yaml; charset=utf-8:
              schema:
                $ref: '#/components/schemas/postExportsRejects_200_response'
          description: ""
      summary: Export denylist
      tags:
      - exports
      x-custom-config:
        methodNameCamel: rejects
        methodNameSnake: rejects
      x-codegen-request-body-name: body
      x-content-type: application/json
      x-accepts: application/json
  /exports/whitelist:
    post:
      deprecated: false
      description: "Begins an export of your rejection allowlist. The allowlist will\
        \ be exported to a zip archive containing a single file named allowlist.csv\
        \ that includes the following fields: email, detail, created_at."
      operationId: postExportsWhitelist
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/postExportsRejects_request'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/postExportsWhitelist_200_response'
            application/x-php:
              schema:
                $ref: '#/components/schemas/postExportsWhitelist_200_response'
            application/x-yaml; charset=utf-8:
              schema:
                $ref: '#/components/schemas/postExportsWhitelist_200_response'
          description: ""
      summary: Export Allowlist
      tags:
      - exports
      x-custom-config:
        methodNameCamel: whitelist
        methodNameSnake: whitelist
      x-codegen-request-body-name: body
      x-content-type: application/json
      x-accepts: application/json
  /exports/allowlist:
    post:
      deprecated: false
      description: "Begins an export of your rejection allowlist. The allowlist will\
        \ be exported to a zip archive containing a single file named allowlist.csv\
        \ that includes the following fields: email, detail, created_at."
      operationId: postExportsAllowlist
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/postExportsRejects_request'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/postExportsWhitelist_200_response'
            application/x-php:
              schema:
                $ref: '#/components/schemas/postExportsWhitelist_200_response'
            application/x-yaml; charset=utf-8:
              schema:
                $ref: '#/components/schemas/postExportsWhitelist_200_response'
          description: ""
      summary: Export Allowlist
      tags:
      - exports
      x-custom-config:
        methodNameCamel: allowlist
        methodNameSnake: allowlist
      x-codegen-request-body-name: body
      x-content-type: application/json
      x-accepts: application/json
  /exports/activity:
    post:
      deprecated: false
      description: "Begins an export of your activity history. The activity will be\
        \ exported to a zip archive containing a single file named activity.csv in\
        \ the same format as you would be able to export from your account's activity\
        \ view. It includes the following fields: Date, Email Address, Sender, Subject,\
        \ Status, Tags, Opens, Clicks, Bounce Detail. If you have configured any custom\
        \ metadata fields, they will be included in the exported data."
      operationId: postExportsActivity
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/postExportsActivity_request'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/postExportsActivity_200_response'
            application/x-php:
              schema:
                $ref: '#/components/schemas/postExportsActivity_200_response'
            application/x-yaml; charset=utf-8:
              schema:
                $ref: '#/components/schemas/postExportsActivity_200_response'
          description: ""
      summary: Export activity history
      tags:
      - exports
      x-custom-config:
        methodNameCamel: activity
        methodNameSnake: activity
      x-codegen-request-body-name: body
      x-content-type: application/json
      x-accepts: application/json
  /inbound/domains:
    post:
      deprecated: false
      description: List the domains that have been configured for inbound delivery.
      operationId: postInboundDomains
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/postExportsList_request'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                description: the inbound domains associated with the account
                items:
                  $ref: '#/components/schemas/postInboundDomains_200_response_inner'
                type: array
            application/x-php:
              schema:
                description: the inbound domains associated with the account
                items:
                  $ref: '#/components/schemas/postInboundDomains_200_response_inner'
                type: array
            application/x-yaml; charset=utf-8:
              schema:
                description: the inbound domains associated with the account
                items:
                  $ref: '#/components/schemas/postInboundDomains_200_response_inner'
                type: array
          description: ""
      summary: List inbound domains
      tags:
      - inbound
      x-custom-config:
        methodNameCamel: domains
        methodNameSnake: domains
      x-codegen-request-body-name: body
      x-content-type: application/json
      x-accepts: application/json
  /inbound/add-domain:
    post:
      deprecated: false
      description: Add an inbound domain to your account.
      operationId: postInboundAddDomain
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/postInboundAddDomain_request'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/postInboundAddDomain_200_response'
            application/x-php:
              schema:
                $ref: '#/components/schemas/postInboundAddDomain_200_response'
            application/x-yaml; charset=utf-8:
              schema:
                $ref: '#/components/schemas/postInboundAddDomain_200_response'
          description: ""
      summary: Add inbound domain
      tags:
      - inbound
      x-custom-config:
        methodNameCamel: addDomain
        methodNameSnake: add_domain
      x-codegen-request-body-name: body
      x-content-type: application/json
      x-accepts: application/json
  /inbound/check-domain:
    post:
      deprecated: false
      description: Check the MX settings for an inbound domain. The domain must have
        already been added with the add-domain call.
      operationId: postInboundCheckDomain
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/postInboundCheckDomain_request'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/postInboundCheckDomain_200_response'
            application/x-php:
              schema:
                $ref: '#/components/schemas/postInboundCheckDomain_200_response'
            application/x-yaml; charset=utf-8:
              schema:
                $ref: '#/components/schemas/postInboundCheckDomain_200_response'
          description: ""
      summary: Check domain settings
      tags:
      - inbound
      x-custom-config:
        methodNameCamel: checkDomain
        methodNameSnake: check_domain
      x-codegen-request-body-name: body
      x-content-type: application/json
      x-accepts: application/json
  /inbound/delete-domain:
    post:
      deprecated: false
      description: Delete an inbound domain from the account. All mail will stop routing
        for this domain immediately.
      operationId: postInboundDeleteDomain
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/postInboundCheckDomain_request'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/postInboundDeleteDomain_200_response'
            application/x-php:
              schema:
                $ref: '#/components/schemas/postInboundDeleteDomain_200_response'
            application/x-yaml; charset=utf-8:
              schema:
                $ref: '#/components/schemas/postInboundDeleteDomain_200_response'
          description: ""
      summary: Delete inbound domain
      tags:
      - inbound
      x-custom-config:
        methodNameCamel: deleteDomain
        methodNameSnake: delete_domain
      x-codegen-request-body-name: body
      x-content-type: application/json
      x-accepts: application/json
  /inbound/routes:
    post:
      deprecated: false
      description: List the mailbox routes defined for an inbound domain.
      operationId: postInboundRoutes
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/postInboundRoutes_request'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                description: the routes associated with the domain
                items:
                  $ref: '#/components/schemas/postInboundRoutes_200_response_inner'
                type: array
            application/x-php:
              schema:
                description: the routes associated with the domain
                items:
                  $ref: '#/components/schemas/postInboundRoutes_200_response_inner'
                type: array
            application/x-yaml; charset=utf-8:
              schema:
                description: the routes associated with the domain
                items:
                  $ref: '#/components/schemas/postInboundRoutes_200_response_inner'
                type: array
          description: ""
      summary: List mailbox routes
      tags:
      - inbound
      x-custom-config:
        methodNameCamel: routes
        methodNameSnake: routes
      x-codegen-request-body-name: body
      x-content-type: application/json
      x-accepts: application/json
  /inbound/add-route:
    post:
      deprecated: false
      description: Add a new mailbox route to an inbound domain.
      operationId: postInboundAddRoute
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/postInboundAddRoute_request'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/postInboundAddRoute_200_response'
            application/x-php:
              schema:
                $ref: '#/components/schemas/postInboundAddRoute_200_response'
            application/x-yaml; charset=utf-8:
              schema:
                $ref: '#/components/schemas/postInboundAddRoute_200_response'
          description: ""
      summary: Add mailbox route
      tags:
      - inbound
      x-custom-config:
        methodNameCamel: addRoute
        methodNameSnake: add_route
      x-codegen-request-body-name: body
      x-content-type: application/json
      x-accepts: application/json
  /inbound/update-route:
    post:
      deprecated: false
      description: "Update the pattern or webhook of an existing inbound mailbox route.\
        \ If null is provided for any fields, the values will remain unchanged."
      operationId: postInboundUpdateRoute
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/postInboundUpdateRoute_request'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/postInboundUpdateRoute_200_response'
            application/x-php:
              schema:
                $ref: '#/components/schemas/postInboundUpdateRoute_200_response'
            application/x-yaml; charset=utf-8:
              schema:
                $ref: '#/components/schemas/postInboundUpdateRoute_200_response'
          description: ""
      summary: Update mailbox route
      tags:
      - inbound
      x-custom-config:
        methodNameCamel: updateRoute
        methodNameSnake: update_route
      x-codegen-request-body-name: body
      x-content-type: application/json
      x-accepts: application/json
  /inbound/delete-route:
    post:
      deprecated: false
      description: Delete an existing inbound mailbox route.
      operationId: postInboundDeleteRoute
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/postInboundDeleteRoute_request'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/postInboundDeleteRoute_200_response'
            application/x-php:
              schema:
                $ref: '#/components/schemas/postInboundDeleteRoute_200_response'
            application/x-yaml; charset=utf-8:
              schema:
                $ref: '#/components/schemas/postInboundDeleteRoute_200_response'
          description: ""
      summary: Delete mailbox route
      tags:
      - inbound
      x-custom-config:
        methodNameCamel: deleteRoute
        methodNameSnake: delete_route
      x-codegen-request-body-name: body
      x-content-type: application/json
      x-accepts: application/json
  /inbound/send-raw:
    post:
      deprecated: false
      description: "Take a raw MIME document destined for a domain with inbound domains\
        \ set up, and send it to the inbound hook exactly as if it had been sent over\
        \ SMTP."
      operationId: postInboundSendRaw
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/postInboundSendRaw_request'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                description: an array of the information for each recipient in the
                  message (usually one) that matched an inbound route
                items:
                  $ref: '#/components/schemas/postInboundSendRaw_200_response_inner'
                type: array
            application/x-php:
              schema:
                description: an array of the information for each recipient in the
                  message (usually one) that matched an inbound route
                items:
                  $ref: '#/components/schemas/postInboundSendRaw_200_response_inner'
                type: array
            application/x-yaml; charset=utf-8:
              schema:
                description: an array of the information for each recipient in the
                  message (usually one) that matched an inbound route
                items:
                  $ref: '#/components/schemas/postInboundSendRaw_200_response_inner'
                type: array
          description: ""
      summary: Send mime document
      tags:
      - inbound
      x-custom-config:
        methodNameCamel: sendRaw
        methodNameSnake: send_raw
      x-codegen-request-body-name: body
      x-content-type: application/json
      x-accepts: application/json
  /ips/list:
    post:
      deprecated: false
      description: Lists your dedicated IPs.
      operationId: postIpsList
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/postExportsList_request'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                description: an array of objects for each dedicated IP
                items:
                  $ref: '#/components/schemas/postIpsList_200_response_inner'
                type: array
            application/x-php:
              schema:
                description: an array of objects for each dedicated IP
                items:
                  $ref: '#/components/schemas/postIpsList_200_response_inner'
                type: array
            application/x-yaml; charset=utf-8:
              schema:
                description: an array of objects for each dedicated IP
                items:
                  $ref: '#/components/schemas/postIpsList_200_response_inner'
                type: array
          description: ""
      summary: List ip addresses
      tags:
      - ips
      x-custom-config:
        methodNameCamel: list
        methodNameSnake: list
      x-codegen-request-body-name: body
      x-content-type: application/json
      x-accepts: application/json
  /ips/info:
    post:
      deprecated: false
      description: Retrieves information about a single dedicated IP.
      operationId: postIpsInfo
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/postIpsInfo_request'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/postIpsInfo_200_response'
            application/x-php:
              schema:
                $ref: '#/components/schemas/postIpsInfo_200_response'
            application/x-yaml; charset=utf-8:
              schema:
                $ref: '#/components/schemas/postIpsInfo_200_response'
          description: ""
      summary: Get ip info
      tags:
      - ips
      x-custom-config:
        methodNameCamel: info
        methodNameSnake: info
      x-codegen-request-body-name: body
      x-content-type: application/json
      x-accepts: application/json
  /ips/provision:
    post:
      deprecated: false
      description: "Requests an additional dedicated IP for your account. Accounts\
        \ may have one outstanding request at any time, and provisioning requests\
        \ are processed within 24 hours."
      operationId: postIpsProvision
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/postIpsProvision_request'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/postIpsProvision_200_response'
            application/x-php:
              schema:
                $ref: '#/components/schemas/postIpsProvision_200_response'
            application/x-yaml; charset=utf-8:
              schema:
                $ref: '#/components/schemas/postIpsProvision_200_response'
          description: ""
      summary: Request additional ip
      tags:
      - ips
      x-custom-config:
        methodNameCamel: provision
        methodNameSnake: provision
      x-codegen-request-body-name: body
      x-content-type: application/json
      x-accepts: application/json
  /ips/start-warmup:
    post:
      deprecated: false
      description: "Begins the warmup process for a dedicated IP. During the warmup\
        \ process, the Transactional API will gradually increase the percentage of\
        \ your mail that is sent over the warming-up IP, over a period of roughly\
        \ 30 days. The rest of your mail will be sent over shared IPs or other dedicated\
        \ IPs in the same pool."
      operationId: postIpsStartWarmup
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/postIpsStartWarmup_request'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/postIpsStartWarmup_200_response'
            application/x-php:
              schema:
                $ref: '#/components/schemas/postIpsStartWarmup_200_response'
            application/x-yaml; charset=utf-8:
              schema:
                $ref: '#/components/schemas/postIpsStartWarmup_200_response'
          description: ""
      summary: Start ip warmup
      tags:
      - ips
      x-custom-config:
        methodNameCamel: startWarmup
        methodNameSnake: start_warmup
      x-codegen-request-body-name: body
      x-content-type: application/json
      x-accepts: application/json
  /ips/cancel-warmup:
    post:
      deprecated: false
      description: Cancels the warmup process for a dedicated IP.
      operationId: postIpsCancelWarmup
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/postIpsStartWarmup_request'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/postIpsStartWarmup_200_response'
            application/x-php:
              schema:
                $ref: '#/components/schemas/postIpsStartWarmup_200_response'
            application/x-yaml; charset=utf-8:
              schema:
                $ref: '#/components/schemas/postIpsStartWarmup_200_response'
          description: ""
      summary: Cancel ip warmup
      tags:
      - ips
      x-custom-config:
        methodNameCamel: cancelWarmup
        methodNameSnake: cancel_warmup
      x-codegen-request-body-name: body
      x-content-type: application/json
      x-accepts: application/json
  /ips/set-pool:
    post:
      deprecated: false
      description: Moves a dedicated IP to a different pool.
      operationId: postIpsSetPool
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/postIpsSetPool_request'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/postIpsSetPool_200_response'
            application/x-php:
              schema:
                $ref: '#/components/schemas/postIpsSetPool_200_response'
            application/x-yaml; charset=utf-8:
              schema:
                $ref: '#/components/schemas/postIpsSetPool_200_response'
          description: ""
      summary: Move ip to different pool
      tags:
      - ips
      x-custom-config:
        methodNameCamel: setPool
        methodNameSnake: set_pool
      x-codegen-request-body-name: body
      x-content-type: application/json
      x-accepts: application/json
  /ips/delete:
    post:
      deprecated: false
      description: Deletes a dedicated IP. This is permanent and cannot be undone.
      operationId: postIpsDelete
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/postIpsDelete_request'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/postIpsDelete_200_response'
            application/x-php:
              schema:
                $ref: '#/components/schemas/postIpsDelete_200_response'
            application/x-yaml; charset=utf-8:
              schema:
                $ref: '#/components/schemas/postIpsDelete_200_response'
          description: ""
      summary: Delete ip address
      tags:
      - ips
      x-custom-config:
        methodNameCamel: delete
        methodNameSnake: delete
      x-codegen-request-body-name: body
      x-content-type: application/json
      x-accepts: application/json
  /ips/list-pools:
    post:
      deprecated: false
      description: Lists your dedicated IP pools.
      operationId: postIpsListPools
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/postExportsList_request'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                description: "the dedicated IP pools for your account, up to a maximum\
                  \ of 1,000"
                items:
                  $ref: '#/components/schemas/postIpsListPools_200_response_inner'
                type: array
            application/x-php:
              schema:
                description: "the dedicated IP pools for your account, up to a maximum\
                  \ of 1,000"
                items:
                  $ref: '#/components/schemas/postIpsListPools_200_response_inner'
                type: array
            application/x-yaml; charset=utf-8:
              schema:
                description: "the dedicated IP pools for your account, up to a maximum\
                  \ of 1,000"
                items:
                  $ref: '#/components/schemas/postIpsListPools_200_response_inner'
                type: array
          description: ""
      summary: List ip pools
      tags:
      - ips
      x-custom-config:
        methodNameCamel: listPools
        methodNameSnake: list_pools
      x-codegen-request-body-name: body
      x-content-type: application/json
      x-accepts: application/json
  /ips/pool-info:
    post:
      deprecated: false
      description: Describes a single dedicated IP pool.
      operationId: postIpsPoolInfo
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/postIpsPoolInfo_request'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/postIpsPoolInfo_200_response'
            application/x-php:
              schema:
                $ref: '#/components/schemas/postIpsPoolInfo_200_response'
            application/x-yaml; charset=utf-8:
              schema:
                $ref: '#/components/schemas/postIpsPoolInfo_200_response'
          description: ""
      summary: Get ip pool info
      tags:
      - ips
      x-custom-config:
        methodNameCamel: poolInfo
        methodNameSnake: pool_info
      x-codegen-request-body-name: body
      x-content-type: application/json
      x-accepts: application/json
  /ips/create-pool:
    post:
      deprecated: false
      description: "Creates a pool and returns it. If a pool already exists with this\
        \ name, no action will be performed."
      operationId: postIpsCreatePool
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/postIpsCreatePool_request'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/postIpsPoolInfo_200_response'
            application/x-php:
              schema:
                $ref: '#/components/schemas/postIpsPoolInfo_200_response'
            application/x-yaml; charset=utf-8:
              schema:
                $ref: '#/components/schemas/postIpsPoolInfo_200_response'
          description: ""
      summary: Add ip pool
      tags:
      - ips
      x-custom-config:
        methodNameCamel: createPool
        methodNameSnake: create_pool
      x-codegen-request-body-name: body
      x-content-type: application/json
      x-accepts: application/json
  /ips/delete-pool:
    post:
      deprecated: false
      description: "Deletes a pool. A pool must be empty before you can delete it,\
        \ and you cannot delete your default pool."
      operationId: postIpsDeletePool
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/postIpsDeletePool_request'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/postIpsDeletePool_200_response'
            application/x-php:
              schema:
                $ref: '#/components/schemas/postIpsDeletePool_200_response'
            application/x-yaml; charset=utf-8:
              schema:
                $ref: '#/components/schemas/postIpsDeletePool_200_response'
          description: ""
      summary: Delete ip pool
      tags:
      - ips
      x-custom-config:
        methodNameCamel: deletePool
        methodNameSnake: delete_pool
      x-codegen-request-body-name: body
      x-content-type: application/json
      x-accepts: application/json
  /ips/check-custom-dns:
    post:
      deprecated: false
      description: Tests whether a domain name is valid for use as the custom reverse
        DNS for a dedicated IP.
      operationId: postIpsCheckCustomDns
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/postIpsCheckCustomDns_request'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/postIpsCheckCustomDns_200_response'
            application/x-php:
              schema:
                $ref: '#/components/schemas/postIpsCheckCustomDns_200_response'
            application/x-yaml; charset=utf-8:
              schema:
                $ref: '#/components/schemas/postIpsCheckCustomDns_200_response'
          description: ""
      summary: Test custom dns
      tags:
      - ips
      x-custom-config:
        methodNameCamel: checkCustomDns
        methodNameSnake: check_custom_dns
      x-codegen-request-body-name: body
      x-content-type: application/json
      x-accepts: application/json
  /ips/set-custom-dns:
    post:
      deprecated: false
      description: Configures the custom DNS name for a dedicated IP.
      operationId: postIpsSetCustomDns
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/postIpsSetCustomDns_request'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/postIpsSetCustomDns_200_response'
            application/x-php:
              schema:
                $ref: '#/components/schemas/postIpsSetCustomDns_200_response'
            application/x-yaml; charset=utf-8:
              schema:
                $ref: '#/components/schemas/postIpsSetCustomDns_200_response'
          description: ""
      summary: Set custom dns
      tags:
      - ips
      x-custom-config:
        methodNameCamel: setCustomDns
        methodNameSnake: set_custom_dns
      x-codegen-request-body-name: body
      x-content-type: application/json
      x-accepts: application/json
  /messages/send:
    post:
      deprecated: false
      description: Send a new transactional message through the Transactional API.
      operationId: postMessagesSend
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/postMessagesSend_request'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                description: "an array of objects for each recipient containing the\
                  \ key \"email\" with the email address, and details of the message\
                  \ status for that recipient"
                items:
                  $ref: '#/components/schemas/postMessagesSend_200_response_inner'
                type: array
            application/x-php:
              schema:
                description: "an array of objects for each recipient containing the\
                  \ key \"email\" with the email address, and details of the message\
                  \ status for that recipient"
                items:
                  $ref: '#/components/schemas/postMessagesSend_200_response_inner'
                type: array
            application/x-yaml; charset=utf-8:
              schema:
                description: "an array of objects for each recipient containing the\
                  \ key \"email\" with the email address, and details of the message\
                  \ status for that recipient"
                items:
                  $ref: '#/components/schemas/postMessagesSend_200_response_inner'
                type: array
          description: ""
      summary: Send new message
      tags:
      - messages
      x-custom-config:
        methodNameCamel: send
        methodNameSnake: send
      x-codegen-request-body-name: body
      x-content-type: application/json
      x-accepts: application/json
  /messages/send-template:
    post:
      deprecated: false
      description: Send a new transactional message through the Transactional API
        using a template.
      operationId: postMessagesSendTemplate
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/postMessagesSendTemplate_request'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                description: "an array of objects for each recipient containing the\
                  \ key \"email\" with the email address, and details of the message\
                  \ status for that recipient"
                items:
                  $ref: '#/components/schemas/postMessagesSendTemplate_200_response_inner'
                type: array
            application/x-php:
              schema:
                description: "an array of objects for each recipient containing the\
                  \ key \"email\" with the email address, and details of the message\
                  \ status for that recipient"
                items:
                  $ref: '#/components/schemas/postMessagesSendTemplate_200_response_inner'
                type: array
            application/x-yaml; charset=utf-8:
              schema:
                description: "an array of objects for each recipient containing the\
                  \ key \"email\" with the email address, and details of the message\
                  \ status for that recipient"
                items:
                  $ref: '#/components/schemas/postMessagesSendTemplate_200_response_inner'
                type: array
          description: ""
      summary: Send using message template
      tags:
      - messages
      x-custom-config:
        methodNameCamel: sendTemplate
        methodNameSnake: send_template
      x-codegen-request-body-name: body
      x-content-type: application/json
      x-accepts: application/json
  /messages/search:
    post:
      deprecated: false
      description: "Search recently sent messages and optionally narrow by date range,\
        \ tags, senders, and API keys. If no date range is specified, results within\
        \ the last 7 days are returned. This method may be called up to 20 times per\
        \ minute. If you need the data more often, you can use /messages/info.json\
        \ to get the information for a single message, or webhooks to push activity\
        \ to your own application for querying."
      operationId: postMessagesSearch
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/postMessagesSearch_request'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                description: an array of objects for each matching message
                items:
                  $ref: '#/components/schemas/postMessagesSearch_200_response_inner'
                type: array
            application/x-php:
              schema:
                description: an array of objects for each matching message
                items:
                  $ref: '#/components/schemas/postMessagesSearch_200_response_inner'
                type: array
            application/x-yaml; charset=utf-8:
              schema:
                description: an array of objects for each matching message
                items:
                  $ref: '#/components/schemas/postMessagesSearch_200_response_inner'
                type: array
          description: ""
      summary: Search messages by date
      tags:
      - messages
      x-custom-config:
        methodNameCamel: search
        methodNameSnake: search
      x-codegen-request-body-name: body
      x-content-type: application/json
      x-accepts: application/json
  /messages/search-time-series:
    post:
      deprecated: false
      description: Search the content of recently sent messages and return the aggregated
        hourly stats for matching messages.
      operationId: postMessagesSearchTimeSeries
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/postMessagesSearchTimeSeries_request'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                description: the array of history information
                items:
                  $ref: '#/components/schemas/postMessagesSearchTimeSeries_200_response_inner'
                type: array
            application/x-php:
              schema:
                description: the array of history information
                items:
                  $ref: '#/components/schemas/postMessagesSearchTimeSeries_200_response_inner'
                type: array
            application/x-yaml; charset=utf-8:
              schema:
                description: the array of history information
                items:
                  $ref: '#/components/schemas/postMessagesSearchTimeSeries_200_response_inner'
                type: array
          description: ""
      summary: Search messages by hour
      tags:
      - messages
      x-custom-config:
        methodNameCamel: searchTimeSeries
        methodNameSnake: search_time_series
      x-codegen-request-body-name: body
      x-content-type: application/json
      x-accepts: application/json
  /messages/info:
    post:
      deprecated: false
      description: Get the information for a single recently sent message.
      operationId: postMessagesInfo
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/postMessagesInfo_request'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/postMessagesInfo_200_response'
            application/x-php:
              schema:
                $ref: '#/components/schemas/postMessagesInfo_200_response'
            application/x-yaml; charset=utf-8:
              schema:
                $ref: '#/components/schemas/postMessagesInfo_200_response'
          description: ""
      summary: Get message info
      tags:
      - messages
      x-custom-config:
        methodNameCamel: info
        methodNameSnake: info
      x-codegen-request-body-name: body
      x-content-type: application/json
      x-accepts: application/json
  /messages/content:
    post:
      deprecated: false
      description: Get the full content of a recently sent message.
      operationId: postMessagesContent
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/postMessagesInfo_request'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/postMessagesContent_200_response'
            application/x-php:
              schema:
                $ref: '#/components/schemas/postMessagesContent_200_response'
            application/x-yaml; charset=utf-8:
              schema:
                $ref: '#/components/schemas/postMessagesContent_200_response'
          description: ""
      summary: Get message content
      tags:
      - messages
      x-custom-config:
        methodNameCamel: content
        methodNameSnake: content
      x-codegen-request-body-name: body
      x-content-type: application/json
      x-accepts: application/json
  /messages/parse:
    post:
      deprecated: false
      description: "Parse the full MIME document for an email message, returning the\
        \ content of the message broken into its constituent pieces."
      operationId: postMessagesParse
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/postMessagesParse_request'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/postMessagesParse_200_response'
            application/x-php:
              schema:
                $ref: '#/components/schemas/postMessagesParse_200_response'
            application/x-yaml; charset=utf-8:
              schema:
                $ref: '#/components/schemas/postMessagesParse_200_response'
          description: ""
      summary: Parse mime document
      tags:
      - messages
      x-custom-config:
        methodNameCamel: parse
        methodNameSnake: parse
      x-codegen-request-body-name: body
      x-content-type: application/json
      x-accepts: application/json
  /messages/send-raw:
    post:
      deprecated: false
      description: "Take a raw MIME document for a message, and send it exactly as\
        \ if it were sent through the Transactional API's SMTP servers."
      operationId: postMessagesSendRaw
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/postMessagesSendRaw_request'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                description: ""
                type: object
            application/x-php:
              schema:
                description: ""
                type: object
            application/x-yaml; charset=utf-8:
              schema:
                description: ""
                type: object
          description: ""
      summary: Send mime document
      tags:
      - messages
      x-custom-config:
        methodNameCamel: sendRaw
        methodNameSnake: send_raw
      x-codegen-request-body-name: body
      x-content-type: application/json
      x-accepts: application/json
  /messages/list-scheduled:
    post:
      deprecated: false
      description: Queries your scheduled emails.
      operationId: postMessagesListScheduled
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/postMessagesListScheduled_request'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                description: a list of up to 1000 scheduled emails
                items:
                  $ref: '#/components/schemas/postMessagesListScheduled_200_response_inner'
                type: array
            application/x-php:
              schema:
                description: a list of up to 1000 scheduled emails
                items:
                  $ref: '#/components/schemas/postMessagesListScheduled_200_response_inner'
                type: array
            application/x-yaml; charset=utf-8:
              schema:
                description: a list of up to 1000 scheduled emails
                items:
                  $ref: '#/components/schemas/postMessagesListScheduled_200_response_inner'
                type: array
          description: ""
      summary: List scheduled emails
      tags:
      - messages
      x-custom-config:
        methodNameCamel: listScheduled
        methodNameSnake: list_scheduled
      x-codegen-request-body-name: body
      x-content-type: application/json
      x-accepts: application/json
  /messages/cancel-scheduled:
    post:
      deprecated: false
      description: Cancels a scheduled email.
      operationId: postMessagesCancelScheduled
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/postMessagesCancelScheduled_request'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                description: information about the scheduled email that was cancelled.
                items:
                  $ref: '#/components/schemas/postMessagesListScheduled_200_response_inner'
                type: array
            application/x-php:
              schema:
                description: information about the scheduled email that was cancelled.
                items:
                  $ref: '#/components/schemas/postMessagesListScheduled_200_response_inner'
                type: array
            application/x-yaml; charset=utf-8:
              schema:
                description: information about the scheduled email that was cancelled.
                items:
                  $ref: '#/components/schemas/postMessagesListScheduled_200_response_inner'
                type: array
          description: ""
      summary: Cancel scheduled email
      tags:
      - messages
      x-custom-config:
        methodNameCamel: cancelScheduled
        methodNameSnake: cancel_scheduled
      x-codegen-request-body-name: body
      x-content-type: application/json
      x-accepts: application/json
  /messages/reschedule:
    post:
      deprecated: false
      description: Reschedules a scheduled email.
      operationId: postMessagesReschedule
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/postMessagesReschedule_request'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                description: information about the scheduled email that was rescheduled.
                items:
                  $ref: '#/components/schemas/postMessagesListScheduled_200_response_inner'
                type: array
            application/x-php:
              schema:
                description: information about the scheduled email that was rescheduled.
                items:
                  $ref: '#/components/schemas/postMessagesListScheduled_200_response_inner'
                type: array
            application/x-yaml; charset=utf-8:
              schema:
                description: information about the scheduled email that was rescheduled.
                items:
                  $ref: '#/components/schemas/postMessagesListScheduled_200_response_inner'
                type: array
          description: ""
      summary: Reschedule email
      tags:
      - messages
      x-custom-config:
        methodNameCamel: reschedule
        methodNameSnake: reschedule
      x-codegen-request-body-name: body
      x-content-type: application/json
      x-accepts: application/json
  /metadata/list:
    post:
      deprecated: false
      description: Get the list of custom metadata fields indexed for the account.
      operationId: postMetadataList
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/postExportsList_request'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                description: the custom metadata fields for the account
                items:
                  $ref: '#/components/schemas/postMetadataList_200_response_inner'
                type: array
            application/x-php:
              schema:
                description: the custom metadata fields for the account
                items:
                  $ref: '#/components/schemas/postMetadataList_200_response_inner'
                type: array
            application/x-yaml; charset=utf-8:
              schema:
                description: the custom metadata fields for the account
                items:
                  $ref: '#/components/schemas/postMetadataList_200_response_inner'
                type: array
          description: ""
      summary: List metadata fields
      tags:
      - metadata
      x-custom-config:
        methodNameCamel: list
        methodNameSnake: list
      x-codegen-request-body-name: body
      x-content-type: application/json
      x-accepts: application/json
  /metadata/add:
    post:
      deprecated: false
      description: Add a new custom metadata field to be indexed for the account.
      operationId: postMetadataAdd
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/postMetadataAdd_request'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/postMetadataAdd_200_response'
            application/x-php:
              schema:
                $ref: '#/components/schemas/postMetadataAdd_200_response'
            application/x-yaml; charset=utf-8:
              schema:
                $ref: '#/components/schemas/postMetadataAdd_200_response'
          description: ""
      summary: Add metadata field
      tags:
      - metadata
      x-custom-config:
        methodNameCamel: add
        methodNameSnake: add
      x-codegen-request-body-name: body
      x-content-type: application/json
      x-accepts: application/json
  /metadata/update:
    post:
      deprecated: false
      description: Update an existing custom metadata field.
      operationId: postMetadataUpdate
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/postMetadataUpdate_request'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/postMetadataUpdate_200_response'
            application/x-php:
              schema:
                $ref: '#/components/schemas/postMetadataUpdate_200_response'
            application/x-yaml; charset=utf-8:
              schema:
                $ref: '#/components/schemas/postMetadataUpdate_200_response'
          description: ""
      summary: Update metadata field
      tags:
      - metadata
      x-custom-config:
        methodNameCamel: update
        methodNameSnake: update
      x-codegen-request-body-name: body
      x-content-type: application/json
      x-accepts: application/json
  /metadata/delete:
    post:
      deprecated: false
      description: "Delete an existing custom metadata field. Deletion isn't instataneous,\
        \ and /metadata/list will continue to return the field until the asynchronous\
        \ deletion process is complete."
      operationId: postMetadataDelete
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/postMetadataDelete_request'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/postMetadataDelete_200_response'
            application/x-php:
              schema:
                $ref: '#/components/schemas/postMetadataDelete_200_response'
            application/x-yaml; charset=utf-8:
              schema:
                $ref: '#/components/schemas/postMetadataDelete_200_response'
          description: ""
      summary: Delete metadata field
      tags:
      - metadata
      x-custom-config:
        methodNameCamel: delete
        methodNameSnake: delete
      x-codegen-request-body-name: body
      x-content-type: application/json
      x-accepts: application/json
  /rejects/add:
    post:
      deprecated: false
      description: Adds an email to your email rejection denylist. Addresses that
        you add manually will never expire and there is no reputation penalty for
        removing them from your denylist. Attempting to denylist an address that has
        been added to the allowlist will have no effect.
      operationId: postRejectsAdd
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/postRejectsAdd_request'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/postRejectsAdd_200_response'
            application/x-php:
              schema:
                $ref: '#/components/schemas/postRejectsAdd_200_response'
            application/x-yaml; charset=utf-8:
              schema:
                $ref: '#/components/schemas/postRejectsAdd_200_response'
          description: ""
      summary: Add email to denylist
      tags:
      - rejects
      x-custom-config:
        methodNameCamel: add
        methodNameSnake: add
      x-codegen-request-body-name: body
      x-content-type: application/json
      x-accepts: application/json
  /rejects/list:
    post:
      deprecated: false
      description: "Retrieves your email rejection denylist. You can provide an email\
        \ address to limit the results. Returns up to 1000 results. By default, entries\
        \ that have expired are excluded from the results; set include_expired to\
        \ true to include them."
      operationId: postRejectsList
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/postRejectsList_request'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                description: Up to 1000 rejection entries
                items:
                  $ref: '#/components/schemas/postRejectsList_200_response_inner'
                type: array
            application/x-php:
              schema:
                description: Up to 1000 rejection entries
                items:
                  $ref: '#/components/schemas/postRejectsList_200_response_inner'
                type: array
            application/x-yaml; charset=utf-8:
              schema:
                description: Up to 1000 rejection entries
                items:
                  $ref: '#/components/schemas/postRejectsList_200_response_inner'
                type: array
          description: ""
      summary: List denylisted emails
      tags:
      - rejects
      x-custom-config:
        methodNameCamel: list
        methodNameSnake: list
      x-codegen-request-body-name: body
      x-content-type: application/json
      x-accepts: application/json
  /rejects/delete:
    post:
      deprecated: false
      description: "Deletes an email rejection. There is no limit to how many rejections\
        \ you can remove from your denylist, but keep in mind that each deletion has\
        \ an affect on your reputation."
      operationId: postRejectsDelete
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/postRejectsDelete_request'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/postRejectsDelete_200_response'
            application/x-php:
              schema:
                $ref: '#/components/schemas/postRejectsDelete_200_response'
            application/x-yaml; charset=utf-8:
              schema:
                $ref: '#/components/schemas/postRejectsDelete_200_response'
          description: ""
      summary: Delete email from denylist
      tags:
      - rejects
      x-custom-config:
        methodNameCamel: delete
        methodNameSnake: delete
      x-codegen-request-body-name: body
      x-content-type: application/json
      x-accepts: application/json
  /senders/list:
    post:
      deprecated: false
      description: Return the senders that have tried to use this account.
      operationId: postSendersList
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/postExportsList_request'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                description: "an array of sender data, one for each sending addresses\
                  \ used by the account"
                items:
                  $ref: '#/components/schemas/postSendersList_200_response_inner'
                type: array
            application/x-php:
              schema:
                description: "an array of sender data, one for each sending addresses\
                  \ used by the account"
                items:
                  $ref: '#/components/schemas/postSendersList_200_response_inner'
                type: array
            application/x-yaml; charset=utf-8:
              schema:
                description: "an array of sender data, one for each sending addresses\
                  \ used by the account"
                items:
                  $ref: '#/components/schemas/postSendersList_200_response_inner'
                type: array
          description: ""
      summary: List account senders
      tags:
      - senders
      x-custom-config:
        methodNameCamel: list
        methodNameSnake: list
      x-codegen-request-body-name: body
      x-content-type: application/json
      x-accepts: application/json
  /senders/domains:
    post:
      deprecated: false
      description: Returns the sender domains that have been added to this account.
      operationId: postSendersDomains
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/postExportsList_request'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                description: "an array of sender domain data, one for each sending\
                  \ domain used by the account"
                items:
                  $ref: '#/components/schemas/postSendersDomains_200_response_inner'
                type: array
            application/x-php:
              schema:
                description: "an array of sender domain data, one for each sending\
                  \ domain used by the account"
                items:
                  $ref: '#/components/schemas/postSendersDomains_200_response_inner'
                type: array
            application/x-yaml; charset=utf-8:
              schema:
                description: "an array of sender domain data, one for each sending\
                  \ domain used by the account"
                items:
                  $ref: '#/components/schemas/postSendersDomains_200_response_inner'
                type: array
          description: ""
      summary: List sender domains
      tags:
      - senders
      x-custom-config:
        methodNameCamel: domains
        methodNameSnake: domains
      x-codegen-request-body-name: body
      x-content-type: application/json
      x-accepts: application/json
  /senders/add-domain:
    post:
      deprecated: false
      description: "Adds a sender domain to your account. Sender domains are added\
        \ automatically as you send, but you can use this call to add them ahead of\
        \ time."
      operationId: postSendersAddDomain
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/postSendersAddDomain_request'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/postSendersAddDomain_200_response'
            application/x-php:
              schema:
                $ref: '#/components/schemas/postSendersAddDomain_200_response'
            application/x-yaml; charset=utf-8:
              schema:
                $ref: '#/components/schemas/postSendersAddDomain_200_response'
          description: ""
      summary: Add sender domain
      tags:
      - senders
      x-custom-config:
        methodNameCamel: addDomain
        methodNameSnake: add_domain
      x-codegen-request-body-name: body
      x-content-type: application/json
      x-accepts: application/json
  /senders/check-domain:
    post:
      deprecated: false
      description: "Checks the SPF and DKIM settings for a domain, as well the domain\
        \ verification. If you haven't already added this domain to your account,\
        \ it will be added automatically."
      operationId: postSendersCheckDomain
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/postSendersAddDomain_request'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/postSendersCheckDomain_200_response'
            application/x-php:
              schema:
                $ref: '#/components/schemas/postSendersCheckDomain_200_response'
            application/x-yaml; charset=utf-8:
              schema:
                $ref: '#/components/schemas/postSendersCheckDomain_200_response'
          description: ""
      summary: Check domain settings
      tags:
      - senders
      x-custom-config:
        methodNameCamel: checkDomain
        methodNameSnake: check_domain
      x-codegen-request-body-name: body
      x-content-type: application/json
      x-accepts: application/json
  /senders/verify-domain:
    post:
      deprecated: false
      description: "Sends a verification email in order to verify ownership of a domain.\
        \ Domain verification is a required step to confirm ownership of a domain.\
        \ Once a domain has been verified in a Transactional API account, other accounts\
        \ may not have their messages signed by that domain unless they also verify\
        \ the domain. This prevents other Transactional API accounts from sending\
        \ mail signed by your domain."
      operationId: postSendersVerifyDomain
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/postSendersVerifyDomain_request'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/postSendersVerifyDomain_200_response'
            application/x-php:
              schema:
                $ref: '#/components/schemas/postSendersVerifyDomain_200_response'
            application/x-yaml; charset=utf-8:
              schema:
                $ref: '#/components/schemas/postSendersVerifyDomain_200_response'
          description: ""
      summary: Verify domain
      tags:
      - senders
      x-custom-config:
        methodNameCamel: verifyDomain
        methodNameSnake: verify_domain
      x-codegen-request-body-name: body
      x-content-type: application/json
      x-accepts: application/json
  /senders/info:
    post:
      deprecated: false
      description: "Return more detailed information about a single sender, including\
        \ aggregates of recent stats."
      operationId: postSendersInfo
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/postSendersInfo_request'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/postSendersInfo_200_response'
            application/x-php:
              schema:
                $ref: '#/components/schemas/postSendersInfo_200_response'
            application/x-yaml; charset=utf-8:
              schema:
                $ref: '#/components/schemas/postSendersInfo_200_response'
          description: ""
      summary: Get sender info
      tags:
      - senders
      x-custom-config:
        methodNameCamel: info
        methodNameSnake: info
      x-codegen-request-body-name: body
      x-content-type: application/json
      x-accepts: application/json
  /senders/time-series:
    post:
      deprecated: false
      description: Return the recent history (hourly stats for the last 30 days) for
        a sender.
      operationId: postSendersTimeSeries
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/postSendersInfo_request'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                description: the array of history information
                items:
                  $ref: '#/components/schemas/postSendersTimeSeries_200_response_inner'
                type: array
            application/x-php:
              schema:
                description: the array of history information
                items:
                  $ref: '#/components/schemas/postSendersTimeSeries_200_response_inner'
                type: array
            application/x-yaml; charset=utf-8:
              schema:
                description: the array of history information
                items:
                  $ref: '#/components/schemas/postSendersTimeSeries_200_response_inner'
                type: array
          description: ""
      summary: View sender history
      tags:
      - senders
      x-custom-config:
        methodNameCamel: timeSeries
        methodNameSnake: time_series
      x-codegen-request-body-name: body
      x-content-type: application/json
      x-accepts: application/json
  /subaccounts/list:
    post:
      deprecated: false
      description: "Get the list of subaccounts defined for the account, optionally\
        \ filtered by a prefix."
      operationId: postSubaccountsList
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/postSubaccountsList_request'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                description: "the subaccounts for the account, up to a maximum of\
                  \ 1,000"
                items:
                  $ref: '#/components/schemas/postSubaccountsList_200_response_inner'
                type: array
            application/x-php:
              schema:
                description: "the subaccounts for the account, up to a maximum of\
                  \ 1,000"
                items:
                  $ref: '#/components/schemas/postSubaccountsList_200_response_inner'
                type: array
            application/x-yaml; charset=utf-8:
              schema:
                description: "the subaccounts for the account, up to a maximum of\
                  \ 1,000"
                items:
                  $ref: '#/components/schemas/postSubaccountsList_200_response_inner'
                type: array
          description: ""
      summary: List subaccounts
      tags:
      - subaccounts
      x-custom-config:
        methodNameCamel: list
        methodNameSnake: list
      x-codegen-request-body-name: body
      x-content-type: application/json
      x-accepts: application/json
  /subaccounts/add:
    post:
      deprecated: false
      description: Add a new subaccount.
      operationId: postSubaccountsAdd
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/postSubaccountsAdd_request'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/postSubaccountsAdd_200_response'
            application/x-php:
              schema:
                $ref: '#/components/schemas/postSubaccountsAdd_200_response'
            application/x-yaml; charset=utf-8:
              schema:
                $ref: '#/components/schemas/postSubaccountsAdd_200_response'
          description: ""
      summary: Add subaccount
      tags:
      - subaccounts
      x-custom-config:
        methodNameCamel: add
        methodNameSnake: add
      x-codegen-request-body-name: body
      x-content-type: application/json
      x-accepts: application/json
  /subaccounts/info:
    post:
      deprecated: false
      description: "Given the ID of an existing subaccount, return the data about\
        \ it."
      operationId: postSubaccountsInfo
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/postSubaccountsInfo_request'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/postSubaccountsInfo_200_response'
            application/x-php:
              schema:
                $ref: '#/components/schemas/postSubaccountsInfo_200_response'
            application/x-yaml; charset=utf-8:
              schema:
                $ref: '#/components/schemas/postSubaccountsInfo_200_response'
          description: ""
      summary: Get subaccount info
      tags:
      - subaccounts
      x-custom-config:
        methodNameCamel: info
        methodNameSnake: info
      x-codegen-request-body-name: body
      x-content-type: application/json
      x-accepts: application/json
  /subaccounts/update:
    post:
      deprecated: false
      description: Update an existing subaccount.
      operationId: postSubaccountsUpdate
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/postSubaccountsUpdate_request'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/postSubaccountsUpdate_200_response'
            application/x-php:
              schema:
                $ref: '#/components/schemas/postSubaccountsUpdate_200_response'
            application/x-yaml; charset=utf-8:
              schema:
                $ref: '#/components/schemas/postSubaccountsUpdate_200_response'
          description: ""
      summary: Update subaccount
      tags:
      - subaccounts
      x-custom-config:
        methodNameCamel: update
        methodNameSnake: update
      x-codegen-request-body-name: body
      x-content-type: application/json
      x-accepts: application/json
  /subaccounts/delete:
    post:
      deprecated: false
      description: "Delete an existing subaccount. Any email related to the subaccount\
        \ will be saved, but stats will be removed and any future sending calls to\
        \ this subaccount will fail."
      operationId: postSubaccountsDelete
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/postSubaccountsDelete_request'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/postSubaccountsDelete_200_response'
            application/x-php:
              schema:
                $ref: '#/components/schemas/postSubaccountsDelete_200_response'
            application/x-yaml; charset=utf-8:
              schema:
                $ref: '#/components/schemas/postSubaccountsDelete_200_response'
          description: ""
      summary: Delete subaccount
      tags:
      - subaccounts
      x-custom-config:
        methodNameCamel: delete
        methodNameSnake: delete
      x-codegen-request-body-name: body
      x-content-type: application/json
      x-accepts: application/json
  /subaccounts/pause:
    post:
      deprecated: false
      description: Pause a subaccount's sending. Any future emails delivered to this
        subaccount will be queued for a maximum of 3 days until the subaccount is
        resumed.
      operationId: postSubaccountsPause
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/postSubaccountsPause_request'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/postSubaccountsPause_200_response'
            application/x-php:
              schema:
                $ref: '#/components/schemas/postSubaccountsPause_200_response'
            application/x-yaml; charset=utf-8:
              schema:
                $ref: '#/components/schemas/postSubaccountsPause_200_response'
          description: ""
      summary: Pause subaccount
      tags:
      - subaccounts
      x-custom-config:
        methodNameCamel: pause
        methodNameSnake: pause
      x-codegen-request-body-name: body
      x-content-type: application/json
      x-accepts: application/json
  /subaccounts/resume:
    post:
      deprecated: false
      description: Resume a paused subaccount's sending.
      operationId: postSubaccountsResume
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/postSubaccountsResume_request'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/postSubaccountsResume_200_response'
            application/x-php:
              schema:
                $ref: '#/components/schemas/postSubaccountsResume_200_response'
            application/x-yaml; charset=utf-8:
              schema:
                $ref: '#/components/schemas/postSubaccountsResume_200_response'
          description: ""
      summary: Resume subaccount
      tags:
      - subaccounts
      x-custom-config:
        methodNameCamel: resume
        methodNameSnake: resume
      x-codegen-request-body-name: body
      x-content-type: application/json
      x-accepts: application/json
  /tags/list:
    post:
      deprecated: false
      description: Return all of the user-defined tag information.
      operationId: postTagsList
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/postExportsList_request'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                description: a list of user-defined tags
                items:
                  $ref: '#/components/schemas/postTagsList_200_response_inner'
                type: array
            application/x-php:
              schema:
                description: a list of user-defined tags
                items:
                  $ref: '#/components/schemas/postTagsList_200_response_inner'
                type: array
            application/x-yaml; charset=utf-8:
              schema:
                description: a list of user-defined tags
                items:
                  $ref: '#/components/schemas/postTagsList_200_response_inner'
                type: array
          description: ""
      summary: List tags
      tags:
      - tags
      x-custom-config:
        methodNameCamel: list
        methodNameSnake: list
      x-codegen-request-body-name: body
      x-content-type: application/json
      x-accepts: application/json
  /tags/delete:
    post:
      deprecated: false
      description: "Deletes a tag permanently. Deleting a tag removes the tag from\
        \ any messages that have been sent, and also deletes the tag's stats. There\
        \ is no way to undo this operation, so use it carefully."
      operationId: postTagsDelete
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/postTagsDelete_request'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/postTagsDelete_200_response'
            application/x-php:
              schema:
                $ref: '#/components/schemas/postTagsDelete_200_response'
            application/x-yaml; charset=utf-8:
              schema:
                $ref: '#/components/schemas/postTagsDelete_200_response'
          description: ""
      summary: Delete tag
      tags:
      - tags
      x-custom-config:
        methodNameCamel: delete
        methodNameSnake: delete
      x-codegen-request-body-name: body
      x-content-type: application/json
      x-accepts: application/json
  /tags/info:
    post:
      deprecated: false
      description: "Return more detailed information about a single tag, including\
        \ aggregates of recent stats."
      operationId: postTagsInfo
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/postTagsInfo_request'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/postTagsInfo_200_response'
            application/x-php:
              schema:
                $ref: '#/components/schemas/postTagsInfo_200_response'
            application/x-yaml; charset=utf-8:
              schema:
                $ref: '#/components/schemas/postTagsInfo_200_response'
          description: ""
      summary: Get tag info
      tags:
      - tags
      x-custom-config:
        methodNameCamel: info
        methodNameSnake: info
      x-codegen-request-body-name: body
      x-content-type: application/json
      x-accepts: application/json
  /tags/time-series:
    post:
      deprecated: false
      description: Return the recent history (hourly stats for the last 30 days) for
        a tag.
      operationId: postTagsTimeSeries
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/postTagsInfo_request'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                description: the array of history information
                items:
                  $ref: '#/components/schemas/postMessagesSearchTimeSeries_200_response_inner'
                type: array
            application/x-php:
              schema:
                description: the array of history information
                items:
                  $ref: '#/components/schemas/postMessagesSearchTimeSeries_200_response_inner'
                type: array
            application/x-yaml; charset=utf-8:
              schema:
                description: the array of history information
                items:
                  $ref: '#/components/schemas/postMessagesSearchTimeSeries_200_response_inner'
                type: array
          description: ""
      summary: View tag history
      tags:
      - tags
      x-custom-config:
        methodNameCamel: timeSeries
        methodNameSnake: time_series
      x-codegen-request-body-name: body
      x-content-type: application/json
      x-accepts: application/json
  /tags/all-time-series:
    post:
      deprecated: false
      description: Return the recent history (hourly stats for the last 30 days) for
        all tags.
      operationId: postTagsAllTimeSeries
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/postExportsList_request'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                description: the array of history information
                items:
                  $ref: '#/components/schemas/postMessagesSearchTimeSeries_200_response_inner'
                type: array
            application/x-php:
              schema:
                description: the array of history information
                items:
                  $ref: '#/components/schemas/postMessagesSearchTimeSeries_200_response_inner'
                type: array
            application/x-yaml; charset=utf-8:
              schema:
                description: the array of history information
                items:
                  $ref: '#/components/schemas/postMessagesSearchTimeSeries_200_response_inner'
                type: array
          description: ""
      summary: View all tags history
      tags:
      - tags
      x-custom-config:
        methodNameCamel: allTimeSeries
        methodNameSnake: all_time_series
      x-codegen-request-body-name: body
      x-content-type: application/json
      x-accepts: application/json
  /templates/add:
    post:
      deprecated: false
      description: Add a new template.
      operationId: postTemplatesAdd
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/postTemplatesAdd_request'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/postTemplatesAdd_200_response'
            application/x-php:
              schema:
                $ref: '#/components/schemas/postTemplatesAdd_200_response'
            application/x-yaml; charset=utf-8:
              schema:
                $ref: '#/components/schemas/postTemplatesAdd_200_response'
          description: ""
      summary: Add template
      tags:
      - templates
      x-custom-config:
        methodNameCamel: add
        methodNameSnake: add
      x-codegen-request-body-name: body
      x-content-type: application/json
      x-accepts: application/json
  /templates/info:
    post:
      deprecated: false
      description: Get the information for an existing template.
      operationId: postTemplatesInfo
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/postTemplatesInfo_request'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/postTemplatesInfo_200_response'
            application/x-php:
              schema:
                $ref: '#/components/schemas/postTemplatesInfo_200_response'
            application/x-yaml; charset=utf-8:
              schema:
                $ref: '#/components/schemas/postTemplatesInfo_200_response'
          description: ""
      summary: Get template info
      tags:
      - templates
      x-custom-config:
        methodNameCamel: info
        methodNameSnake: info
      x-codegen-request-body-name: body
      x-content-type: application/json
      x-accepts: application/json
  /templates/update:
    post:
      deprecated: false
      description: "Update the code for an existing template. If null is provided\
        \ for any fields, the values will remain unchanged."
      operationId: postTemplatesUpdate
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/postTemplatesUpdate_request'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/postTemplatesUpdate_200_response'
            application/x-php:
              schema:
                $ref: '#/components/schemas/postTemplatesUpdate_200_response'
            application/x-yaml; charset=utf-8:
              schema:
                $ref: '#/components/schemas/postTemplatesUpdate_200_response'
          description: ""
      summary: Update template
      tags:
      - templates
      x-custom-config:
        methodNameCamel: update
        methodNameSnake: update
      x-codegen-request-body-name: body
      x-content-type: application/json
      x-accepts: application/json
  /templates/publish:
    post:
      deprecated: false
      description: Publish the content for the template. Any new messages sent using
        this template will start using the content that was previously in draft.
      operationId: postTemplatesPublish
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/postTemplatesInfo_request'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/postTemplatesPublish_200_response'
            application/x-php:
              schema:
                $ref: '#/components/schemas/postTemplatesPublish_200_response'
            application/x-yaml; charset=utf-8:
              schema:
                $ref: '#/components/schemas/postTemplatesPublish_200_response'
          description: ""
      summary: Publish template content
      tags:
      - templates
      x-custom-config:
        methodNameCamel: publish
        methodNameSnake: publish
      x-codegen-request-body-name: body
      x-content-type: application/json
      x-accepts: application/json
  /templates/delete:
    post:
      deprecated: false
      description: Delete a template.
      operationId: postTemplatesDelete
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/postTemplatesInfo_request'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/postTemplatesDelete_200_response'
            application/x-php:
              schema:
                $ref: '#/components/schemas/postTemplatesDelete_200_response'
            application/x-yaml; charset=utf-8:
              schema:
                $ref: '#/components/schemas/postTemplatesDelete_200_response'
          description: ""
      summary: Delete template
      tags:
      - templates
      x-custom-config:
        methodNameCamel: delete
        methodNameSnake: delete
      x-codegen-request-body-name: body
      x-content-type: application/json
      x-accepts: application/json
  /templates/list:
    post:
      deprecated: false
      description: Return a list of all the templates available to this user.
      operationId: postTemplatesList
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/postTemplatesList_request'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                description: an array of structs with information about each template
                items:
                  $ref: '#/components/schemas/postTemplatesList_200_response_inner'
                type: array
            application/x-php:
              schema:
                description: an array of structs with information about each template
                items:
                  $ref: '#/components/schemas/postTemplatesList_200_response_inner'
                type: array
            application/x-yaml; charset=utf-8:
              schema:
                description: an array of structs with information about each template
                items:
                  $ref: '#/components/schemas/postTemplatesList_200_response_inner'
                type: array
          description: ""
      summary: List templates
      tags:
      - templates
      x-custom-config:
        methodNameCamel: list
        methodNameSnake: list
      x-codegen-request-body-name: body
      x-content-type: application/json
      x-accepts: application/json
  /templates/time-series:
    post:
      deprecated: false
      description: Return the recent history (hourly stats for the last 30 days) for
        a template.
      operationId: postTemplatesTimeSeries
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/postTemplatesTimeSeries_request'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                description: the array of history information
                items:
                  $ref: '#/components/schemas/postSendersTimeSeries_200_response_inner'
                type: array
            application/x-php:
              schema:
                description: the array of history information
                items:
                  $ref: '#/components/schemas/postSendersTimeSeries_200_response_inner'
                type: array
            application/x-yaml; charset=utf-8:
              schema:
                description: the array of history information
                items:
                  $ref: '#/components/schemas/postSendersTimeSeries_200_response_inner'
                type: array
          description: ""
      summary: Get template history
      tags:
      - templates
      x-custom-config:
        methodNameCamel: timeSeries
        methodNameSnake: time_series
      x-codegen-request-body-name: body
      x-content-type: application/json
      x-accepts: application/json
  /templates/render:
    post:
      deprecated: false
      description: "Inject content and optionally merge fields into a template, returning\
        \ the HTML that results."
      operationId: postTemplatesRender
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/postTemplatesRender_request'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/postTemplatesRender_200_response'
            application/x-php:
              schema:
                $ref: '#/components/schemas/postTemplatesRender_200_response'
            application/x-yaml; charset=utf-8:
              schema:
                $ref: '#/components/schemas/postTemplatesRender_200_response'
          description: ""
      summary: Render html template
      tags:
      - templates
      x-custom-config:
        methodNameCamel: render
        methodNameSnake: render
      x-codegen-request-body-name: body
      x-content-type: application/json
      x-accepts: application/json
  /urls/list:
    post:
      deprecated: true
      description: Get the 100 most clicked URLs.
      operationId: postUrlsList
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/postExportsList_request'
        required: true
[...]
